@import "./untils/colors";
@import "./untils/resets";
@import "./untils/fonts";
@import "./untils/mixins";
@import "./components/header";
@import "./components/section-top";
@import "./components/lorem";
@import "./components/job";
@import "./components/client";
@import "./components/footer";
@import "./components/portfolio-main";
@import "./components/modal";

body {
  font-family:$standard-font,$logo-font;
  background-color:$primary-color;
  color: $primary-text;
  font-size: map-get($font-size, standard);
  letter-spacing: map-get($letter-spacing, standard);
}
.container {
  width: 1200px;
  @include center;
}
