.block{
    @include flexCenter(column);
    padding:94px 0;
    gap:50px;

    &__background{
      background-color:$background-card;
    }

  &__heading{

    font-family:$standard-font;
    font-size:map-get($font-size,section-header);
    padding-bottom: 50px;
    text-align: center;
    font-size: map-get($font-size, bold);
     color:$secondary-text;
  }
 }

  .job {
    @include flex(row);
    gap: 30px;
    padding-left: 0;
    &__item {
      list-style-type: none;
      width: 370px;
      height: 294px;
      display: flex;
    }
    &__images {
      position: relative;
      margin: 10px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
        &__images >&__text {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 27px 90px;
      width: 370px;
      font-family:$standard-font;
      font-size:map-get($font-size,standard);
      font-weight:map-get($font-weight,bold);
      line-height: 16px;
      letter-spacing:map-get($letter-spacing,standard);
      text-align: center;
      background-color:$background-mix;
      color:$primary-color;
    }}
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*Nasz zespół*/
  .social {
    background-color: #f5f4fa;
    padding: 94px 0;
  
  &__list {
    @include flexCenter(row);
    gap: 30px;
    padding-left: 0;
  }
  &__item {
    width: 270px;
    height: 260px;
  }
  &__images {
    background-color:$primary-color;
    box-shadow: 0px 1px 3px rgb(201 45 45 / 12%), 0px 1px 1px rgb(197 197 197),
      0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }
  &__name {
    gap: 99px;
    font-family:$standard-font;
    font-weight:map-get($font-weight , medium);
    font-size:map-get($font-size,enlarged);
    text-align: center;
    letter-spacing:map-get($letter-spacing,standard);
    color:$logo-color;
    margin: 30px 0 10px 0;
  }
  &__text {
    font-size:map-get($font-size,enlarged);
    line-height: 1.2em;
    text-align: center;
    letter-spacing:map-get($letter-spacing,standard);
    background: $primary-color;
    color: $placeholder-text;
    font-family:$standard-font;
    font-size:map-get($font-size,enlarged);
    margin: 0 0 30px 0;
  }
  &__icons {
    @include flex(row);
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 32px;
  }
  &__icon {
    width: 44px;
    height: 44px;
    background-color:$footer-icon;
    border-radius: 50% ;
    fill: $icon-background;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  :focus {
    cursor: pointer;
    fill: $primary-color;
    background-color:$hover-text;
  }}}