
  .block {
  @include flexCenter(column);
  padding: 60px 0;
  gap: 50px;

  &__heading {
    font-size: $font-section-header;
    color: $secondary-text;
  }

  &__background {
    background-color: $background-card;
  }
}
  .mobile-hidden {
    display: none;
  }
@media (min-width: 768px) {
.block{
    @include flexCenter(column);
    padding:94px 0;
    gap:50px;

    &__background{
      background-color:$background-card;
    }

  &__heading{
    font-size: $font-section-header;
     color:$secondary-text;
  }
 }

  .job {
    @include flexCenter(row);;
    gap: 30px;
    &__item {
      height: 294px;
      width: 370px;
    }
    &__images {
      position: relative;
      margin: 10px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    }}
  
  



  @media (min-width: 1200px) {
  .block{
    @include flexCenter(column);
    padding:94px 0;
    gap:50px;

    &__background{
      background-color:$background-card;
    }

  &__heading{

    font-family:$standard-font;
    font-size: $font-section-header;
    padding-bottom: 50px;
    text-align: center;
    font-size:$font-bold;
     color:$secondary-text;
  }
 }
 .mobile-hidden {
  display: flex;
}
  .job {
    @include flexCenter(row);
    gap: 30px;
    padding-left: 0;
    &__item {
      list-style-type: none;
      width: 370px;
      height: 294px;
      display: flex;
    }
    &__images {
      height: 294px;
      width: 370px;
     }
        &__images >&__text {
       color: $primary-color;
      font-weight: $font-bold;
      background-color: #2f303acc;
      height: 70px;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      padding: 27px 0;
      top: -72px;
    }}
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
 







 